<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<servlet>
    <servlet-name>Validator</servlet-name>
    <servlet-class>zhenz.Validator</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Validator</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>zhenz.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    
<context-param>
    <param-name>Driver</param-name>
    <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
</context-param>
    <context-param>
        <param-name>Url</param-name>
        <param-value>jdbc:sqlserver://localhost:1433;DatabaseName=valid</param-value>
    </context-param>
    <context-param>
        <param-name>userName</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>000000</param-value>
    </context-param>
    <context-param>
        <param-name>Database</param-name>
        <param-value>valid</param-value>
    </context-param>
</web-app>

